<?xml version="1.0" encoding="utf-8" ?>
<!--<objects  xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" -->
<!--	xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">-->
<objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database">
  <!--Import Quartz -->
   <!--<import resource="spring-quartz.xml"/>--> 
   <!--<import resource="spring-db.xml"/>-->
  <!--<object id="enumdef" type="ECS.POJO.EnumDef,ECS"  >
    <constructor-arg name="name" value="Test-JadgeCode"/>
    <constructor-arg  name="desc" value="Jadge Code"/>
    <property name="EnumdefName"  ref ="cultureFactory">
     
    </property>
    <property name="Description" value="TESTttttttt"/>
  </object>
  <object id="cultureFactory"
        type="Spring.Objects.Factory.Config.PropertyRetrievingFactoryObject, Spring.Core">
    <property name="StaticProperty">
      <value>ECS.POJO.TestStaticClass.Name, ECS</value>
    </property>
  </object>-->
  
<!--  <object id="reader" type="MPC.LAN.ReaderTCP, MPC"/>  -->

  <object id="reader" type="TCPSrv.Reader.VCReaderTCP, TCPSrv">
    <constructor-arg  name="file" value="Config/VCRConfigTCP.xml"/>
  </object>
  <object id="defects" type="MPC.DefectCollection, MPC "  >
  <constructor-arg  name="csvfile" value="Config/DefectList.csv"/>
  </object>
  
  <object id="csvwriter" type="FileSrv.csv.CSVWriter, FileSrv "  >
  <constructor-arg  name="CfgFile" value="Config/CSVConfig.xml"/>
  </object>

    <object id="glass" type="MPC.GlassDefectColection, MPC "  >
  <constructor-arg  name="file" value="Config/GLASSID.txt"/>
  </object>

  <object id="prodlist" type="MPC.ProductSpecColection, MPC "  >
    <constructor-arg  name="file" value="Config/prodlist.csv"/>
  </object>
  

    <object id="db" type="FileDataLoader.DBSrv.OracleDBService, FileDataLoader "  >
    <constructor-arg  name="configfile" value="Config/VCRConfig.ini"/>
  </object>
    
  <!--
    <object id="uploader" type="FileDataLoader.FileUpload.FtpUploader, FileDataLoader "  >
    <constructor-arg  name="configfile" value="Config/VCRConfig.ini"/>
  </object> -->
   
<!--
      <object id="vcrloader" type="TrulyVcrLoader.TrulyVcr, TrulyVcrLoader "  >
  <constructor-arg  name="TrulyVcrLoader" value="CSV"/>
  </object>
   -->

</objects>
